<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.toshkaraf.chronovision">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_Warm">
        <activity
            android:name=".MainScreen.MainScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme_Warm">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:parentActivityName=".MainScreen.MainScreenActivity"
            android:theme="@style/AppTheme_Warm_NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen.MainScreenActivity" />
        </activity>
        <activity
            android:name=".MainScreen.MainSettingsActivity"
            android:label="@string/title_activity_main_settings"
            android:parentActivityName=".MainScreen.MainScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreen.MainScreenActivity" />
        </activity>
        <activity android:name=".CreateNewMapActivity" />
        <activity android:name=".InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
